<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>welcome to textAnalyser</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 1496px; height: 249px;'></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punc<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="lineremover">new line remover<br>
    <input type="checkbox" name="extraspaceremover">extra space remover<br>
    <input type="checkbox" name="charcounter">Count character<br>

    <button type='submit'>Analyse</button>
</form>

</body>
</html>